h1{
  text-align: center;
  color: #FFB71B;
  font-size: 40px;
}
a{
font-size: 40px;
font-style:  normal;
}
nav{
  background-color: #7AFFDB;
  font-size: 25px;
  display: block;
}
body{
  padding-left;
  background:linear-gradient(black, white);
};
background-image: url(http://q.likesuccess.com/89/4403281-sun-rays-transparent.jpg);
}
ul{
  font-size: 48px;
}
img{
  width: 50%;
  height: 50%;
}
